/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
* {
  box-sizing: border-box;
}

body{
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  margin: 0em;
  
}


.main header {
  display: flex;
  justify-content: space-between;    
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  margin-top: 2em;
  margin-bottom: 2em;
 

}

.main nav{    
  position: fixed;
  flex-direction: row-reverse;
  display: flex;
  margin: 0em;
  width: 100%;
  background-color: white;
  
}

  .main img {
    
    width: 10em;
    margin: 0em;
    margin-left: 1em;
    position: fixed;
  }
  
  
  .main ul{
    display: flex;
    text-decoration: none;
    list-style-type: none;
    justify-content: space-between
}
.main li {
  padding: 1em;
}



  /* If I put the img logo inside Nav bar on Html would it be a good pratice? 
  I guess the Css solucion would be simple, somethin like this :
  
  .main nav{    
    position: fixed;
    display: flex;
    margin: 0em;
    justify-content: space-between;    
    width: 100%;
    background-color: bisque;
    
  }

 */


 .landing-page {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: url(../images/landing.jpg);
  background-size: cover;
  background-position: center;
  padding: 20em;

}

h1 {
  font-size: 3em;
  padding: 0%;
  margin: 1rem
}

h3 {
  
  padding: 0em;
  margin: 0em;
  font-weight: lighter;
}


section:first-of-type + .container {
  
  display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;

}


.container h2{
  margin-top: 2em;
  align-content: center;
  padding: 0;
 
}

.features {

  display: flex;
	flex-direction: row;
	justify-content: space-around;
  align-items: center;
  

}


.features h3{
  color: #00B172;
  font-weight: bold;
  margin-top: 1em;

}

.features div {
  
  display: flex;
  flex-direction: column;
	justify-content: center;
  align-items: center;
  padding: 1em;
  margin: 0em;


}
.features img {
  width: 8em;

}


.container-2 {
  background-color: #00B172;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  color: white;
  width: 100%;


}


.container-2 > div {
  display: flex;  
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  
}

.container-2 h2 {
  padding-bottom: 1rem;
  padding-top: 0em;
  border-bottom: solid currentColor;
  margin-top: 3em;
  margin-left: 2em;
  
  }
  

.column  {
  display: flex;
  flex-direction: column;	
  justify-content: space-around;
  flex-wrap: wrap;

	align-items: flex-start;
  align-content: flex-start;
  margin-left: 2em;
  width: 25%;
}


.container-2 h3{
  font-weight: bold;
}

.container-2 img:first-of-type {
  width: 10%;  
  margin: 0 10%;
}

.container-2 img:first-of-type + img {
  width: 25%;
  margin-bottom: 5%;
  
  margin-right: 5%;
}

.container-2 h3 {
  margin: 1em 0em;
}

.container-2 p {
  line-height: 2em;
}